@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;  */
}

body {
    background-image: linear-gradient(to right, #EFDFCC, #BA8E7A);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
   color: #BA8E7A;
   text-align: center;
   text-shadow: 1px 1px 2p rgba(228, 77, 7, 0)A;
}

h2 {
   color: #D4C2AD;
}

p {
    text-align: justify;
}